.Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Blogs {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  h1 {
    text-align: right;
    text-decoration: double;
  }
  /* home.css */
.search-bar {
  margin-bottom: 20px;
  text-align: center;
}

.search-bar input {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}