
.con{
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto auto;
    gap: 10px;
    width: fit-content;
    background-color: #ffffff;
    color: white;
    float: right;
    margin-top: 20px;
    margin-right: 0;
    right: 0px;
    position: relative;
}
.con h2{
    border-radius: 5px;
    background-color: #270b00;
    padding: 5px;
    color: white;
}
.con h1{
    border-radius: 5px;
    background-color: #270b00;
    padding: 5px;
    color: white;
}
.text{
    width: 100%;
    display: flex;
    justify-content: center;
}
p{
    text-align: right;
    display: flex;
    width: 80%;
    color: #270b00;
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
